<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="initial-scale=1.0">
    <title>DashBoard</title>\
    <link rel="stylesheet" href="dashboard_style.css">
    <link rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/boxicons@latest/css/boxicons.min.css">
</head>
<body>
    <header>
        <img class="logo" src="lopo-removebg-preview.png" alt="logo">
        <div class="navbar">
            <nav>
                <a href="#">Dashboard</a>
                <a href="#">Blog</a>
                <a href="#">Model</a>
                <a href="#">Setting</a>
            </nav>
            <div class="profile-pic">
                <img src="ayesha-2.jpg" alt="">
            </div>
        </div>
    </header>
    <main>
        <div style="width: 10%; height: 50%;margin-left:8%; transform: rotate(90deg); transform-origin: 0 0; border: 2px #F99300 solid"></div>
        <h1> Welcome To CareBuild, <br><span>UserName</span></h1>
        <div class="Top-blogs">
            <h3>Top Blogs</h3>
            <div class="blog">
            <table id="blog-info">
                <tr>
                    <th>Blog Title</th>
                    <th>Blog comments</th>
                    <th>Author</th>
                    <th>Action</th>
                </tr>
                <tr>
                    <td>Blog Title</td>
                    <td>Blog comment</td>
                    <td>author</td>
                    <td>
                    <button style="font-size: 24px; cursor: pointer; margin-top: 5px;"><i class='bx bx-x'></i></button></td>
                    
                </tr>     </table>    
            </div>
    </main>
</body>
</html>