<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareBuild</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>

<header>

    <div class="logo">
   
    </div>
<nav>
    <img class="img-logo" src="/static/lopo-removebg-preview.png" style="width: 350px; height: 150px;"/>
<div class="menu">
<a href="#">Home</a>
<a href="#">About</a>
<a href="#">Contact Us</a>
<a class="SignIn" href="login.html">SIGN IN</a>
</div>

</nav>
<div class="SignUp">
    <a href="signup.html">SIGN UP</a>
  </div>    
</header>
<main>
    <div class="header-container">
        <h1>
            Build a better world <br>with <strong>BuildCare!</strong>
        </h1>
        <img src="/static/building-removebg-preview.png" alt="building-removebg-preview">
            </div>
        
    <div class="main-side">   
    </div>
    <div class="cointainer-feature-service">
<div class="feature-service-box">
    <h1>Feature and Service</h1>
</div>
<div class="features">
    <div class="feature-1">AI Building Impact Assessment</div> <br>
    <div class="feature-1">Informational Blog Platform</div><br>
    <div class="feature-1">Local Expert Connection</div>
    </div>
    <div class="eclipse-1"></div>
</div>
<div class="About-us">  
<h1>About Us</h1>
<div class="About-content">
<img src="/static/Building_Construction_Logo_template-removebg-preview.png" alt="building-removebg-preview">
<p>Welcome to BuildCare, where innovation meets responsibility, and structures are more than just bricks and mortar. At BuildCare, we are on a mission to revolutionize the construction industry by placing environmental sustainability at the forefront of every project.</p>
</div>
<div class="Our-Team">
<h1>Our Team</h1>
<div class="tean">
    <div class="Team-container" >
        <div class="Team-box">
            <span class="Team-name" >Ayesha Irshad<br/></span>
            <span class="JD">Full Stack Developer & Ai Engineer</span>
        </div>
        <div class="solid-box" ></div>
        <img  src="/static/ayesha-2.jpg" />
    </div>

    <div style="width: 360px; height: 359px; left: 502px; top: -360px; margin-left: 7%; position: relative">
        <div class="Team-box">
            <span class="Team-name" >Nizamudin<br/></span>
            <span class="JD">Backend Developer & Ai Engineer</span>
        </div>
        <img src="/static/nizam.jfif">
        <div class="solid-box" ></div>

    </div>

    <div style="width: 360px; height: 364px; left: 982px; top: -720px;margin-left: 7%; position:relative">
        <div class="Team-box">
            <span class="Team-name" >Hafsa<br/></span>
            <span class="JD">Frontend Developer & Ai Engineer</span>
        </div>
        <div class="solid-box" ></div>
        <img  src="/static/hafsa.jfif" />
    </div>
    
</div>
</div>
<div class="Contact-us">
  <h1>Contact Us</h1>
        
  <div style="margin-left: 5%; width: 90%; height: 100%; text-align: center; margin-top: 5%;"><span style="color: white; font-size: 42px; font-family: Lateef; font-weight: 400; text-transform: capitalize; line-height: 46px; letter-spacing: 0.42px; word-wrap: break-word">Have questions, suggestions, or looking to connect with us? We'd love to hear from you! Reach out to </span><span style="color: #F99300; font-size: 42px; font-family: Lateef; font-weight: 400; text-transform: capitalize; line-height: 46px; letter-spacing: 0.42px; word-wrap: break-word">BuildCare</span><span style="color: white; font-size: 42px; font-family: Lateef; font-weight: 400; text-transform: capitalize; line-height: 46px; letter-spacing: 0.42px; word-wrap: break-word"> through our contact form or directly via email. Your feedback is valuable as we work together towards a more sustainable future. Let's build a greener world, one message at a time</span></div>
  <div class="contact-info">
    <form action="/submit_form" method="get">
        <input type="text"name="name" placeholder="Full Name" required> <br>
        <input type="email" name="email" placeholder="Email" required> <br>
        <input type="subject" name="name" placeholder="Subject" required><br>
        <textarea name="message" rows="5" placeholder="Message..." required></textarea><br>
        <button type="button">Submit</button>
    </form>
  </div>
</div>
</div>
</main>
</body>
</html>