<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareBuild</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>

    <div class="logo">
   
    </div>
<nav>
    <img src="lopo-removebg-preview.png" />
<div class="menu">
<a href="#">Home</a>
<a href="#">About</a>
<a href="#">Contact Us</a>
</div>
<div class="SignIn">
    <a href="#">SIGN IN</a>
  </div>
<div class="SignUp">
    <a href="#">SIGN UP</a>
  </div>
</nav>
    
</header>
        
    </div>

</body>
</html>