<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CareBuild</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>

<header>

    <div class="logo">
   
    </div>
<nav>
    <img class="img-logo" src="lopo-removebg-preview.png" style="width: 350px; height: 150px;"/>
<div class="menu">
<a href="#">Home</a>
<a href="#">About</a>
<a href="#">Contact Us</a>
<a class="SignIn" href="#">SIGN IN</a>
</div>

</nav>
<div class="SignUp">
    <a href="#">SIGN UP</a>
  </div>    
</header>
<main>
    <div class="header-container">
        <h1>
            Build a better world <br>with <strong>BuildCare!</strong>
        </h1>
        <img src="building-removebg-preview.png" alt="building-removebg-preview">
            </div>
        
    <div class="main-side">   
    </div>
    <div class="cointainer-feature-service">
<div class="feature-service-box">
    <h1>Feature and Service</h1>
</div>
<div class="features">
    <div class="feature-1">AI Building Impact Assessment</div> <br>
    <div class="feature-1">Informational Blog Platform</div><br>
    <div class="feature-1">Local Expert Connection</div>
    </div>
    <div class="eclipse-1"></div>
</div>
<div class="About-us">  
<h1>About Us</h1>
<div class="About-content">
<img src="Building_Construction_Logo_template-removebg-preview.png" alt="building-removebg-preview">
<p>Welcome to BuildCare, where innovation meets responsibility, and structures are more than just bricks and mortar. At BuildCare, we are on a mission to revolutionize the construction industry by placing environmental sustainability at the forefront of every project.</p>
</div>
<div class="Our-Team">
<h1>Our Team</h1>
<div class="team-container"></div>

</div>
</div>
</main>
        

</body>
</html>