*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    background: linear-gradient(180deg, black 100%, rgb(78, 73, 73) 10%);
    height: 800px;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #F99300;
}
body{
    color:white;
}
