<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up</title>
    <link rel="stylesheet" href="/static/SignUp_style.css">
</head>
<body>
    <header>
        Already have a account? <a href="login.html">LogIn</a>
    </header>
    <main>
        <img src="/static/lopo-removebg-preview.png" alt="logo">
       <div class="signup">
        <form action="/signup" method="post">
            <h2>Create an account</h2>
            <h4>Email</h4>
            <input type="email" name="email" placeholder="Email Address">
            <h4> Phone Number </h4>
            <h4>Password</h4>
            <input type="password" name="password" placeholder="********">
            <ul>
                <li>Use 8 or more characters</li>
                <li>Use upper and lowercase letters, numbers and symbols</li>
            </ul>
            <button type="submit">Sign Up</button>
        </form></div>
        
    </main>
</body>
</html>