*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
html{
    background: linear-gradient(180deg, black 100%, rgb(54, 51, 51) 10%);
    height: 600px;
}
header img.logo{
    width: 15%;
    margin-left: 5%;
}
header .navbar{
    float: right;
    margin-right: 15%;
    margin-top: 2%;
}
header .navbar a{
    text-decoration: none;
    color: white;
    font-size: 15px;
    margin-left: 20px;
    transition: all 0.3s ease;
    position: relative;
}
header .navbar a:before{
    content: '';
    position:absolute;
    
   top:0;
    left: 0;
    width: 0%;
    height: 100%;
    border-bottom: 2px solid white; 
    transition:0.4s linear;
  }   
header .navbar a:hover{
    color: #F99300;

}
header .navbar a:hover:before{
    width:80%;
    margin-left: 12%;
}
header .navbar .profile-pic{
    width: 70px;
    height: 70px;
    border-radius: 50%;
float: right;
margin-right:-40% ;
margin-top: -15%;
    background: #F99300;
}
header .navbar .profile-pic img{
    width: 80%;
    border-radius: 50%;
    margin-left: 10%;
margin-top: 10%;
}
main h1{
    color: white;
    margin-left: 9%;
    margin-top: 1%;
    font-size: 50px;
}
main h1 span{
    color: #F99300;
}
main .Top-blogs{
    color: white;
    margin-left: 7%;
    margin-top: 5%;
    font-size: 20px;
}
main .Top-blogs h3{
 color: #F99300;
 margin-bottom: 1%;
}
main .Top-blogs .blog{
    width: 70%;
    position: relative;
    overflow: hidden;
    transition: all 0.3s ease;
}
#blog-info {
    border-collapse: collapse;
    width: 80%;
  }
  
  
  
  #blog-info tr.container{
    border-radius:50%;
    margin-bottom: 2%;
    background: white;
    color: black;
    height: 50px;
    
}   
td{
    padding-left: 2%;
}
td.left-container{
    border-radius: 10px 0px 0px 10px;
}
td.right-container{
    border-radius: 0px 10px 10px 0px;  }
  
  
  #blog-info th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    padding-left: 1%;
    background-color: transparent;
    color: #F99300;
  }

#blog-info td button{
    border: none;
    background: transparent;  
}
.recent-activity{
    display: flex;
    float: right;
 margin-top: -25%;
 position: relative;
 margin-right: 4%;
}
.recent-activity button{
    border: none;
    background: transparent;
    color: #F99300;
    font-size: 15px;
    margin-left: 200px;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}
.recent-activity .container{
    height: 200px;
    width: 100%;
    margin-top: 10%;
    border-radius: 14px;
    background: white;
    position: absolute;
    display: inline-block;

}
.recent-activity .container .container-1{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2px;
    color: black;
}
.recent-activity .container .container-1 img{
    width: 12%;
    border-radius: 60%;
}
.recent-activity .container .container-1 h6{
    font-size: 15px;
    margin-left: 15%;
    margin-top: -12%;
}
.recent-activity .container .container-1 p{
    font-size: 12px;
    margin-left: 15%;
}   

.recent-activity .container .container-1 span{
    float: right;
    font-size: 12px;
    color: black;
    margin-top: -5%;
    margin-right: 4%;
}
.Contact-Number{
    display: flex;
    float: right;
 margin-top: -5%;
 position: relative;
 margin-right: 4%;
}
.Contact-Number button{
    border: none;
    background: transparent;
    color: #F99300;
    font-size: 15px;
    margin-left: 180px;
    transition: all 0.3s ease;
    position: relative;
    cursor: pointer;
}
.Contact-Number .container{
    height: 200px;
    width: 100%;
    margin-top: 10%;
    border-radius: 14px;
    background: white;
    position: absolute;
    display: inline-block;

}
.Contact-Number .container .container-1{
    margin-left: 5%;
    margin-top: 5%;
    margin-bottom: 2px;
    color: black;
}
.Contact-Number .container .container-1 img{
    width: 12%;
    border-radius: 60%;
}
.Contact-Number .container .container-1 h6{
    font-size: 15px;
    margin-left: 15%;
    margin-top: -12%;
}
.Contact-Number .container .container-1 p{
    font-size: 12px;
    margin-left: 15%;
}   

.Contact-Number .container .container-1 span{
    float: right;
    font-size: 12px;
    color: black;
    margin-top: -5%;
    margin-right: 4%;
}