*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
html{
    background: linear-gradient(180deg, black 100%, rgb(78, 73, 73) 10%);
    height: 600px;
}
.header{
    width: 100%;
    height: 50px;
    background-color: #F99300;
}
.header a{
    text-decoration: none;
    border: none;
    background-color: #F99300;
    color: white;
    margin-top: 1%;
    font-size: medium;
    cursor: pointer;  
    position: relative; 
}
.header a.back{
    text-decoration: none;
    margin-left: 2%;
    background-color: #F99300;
    color: white;
    font-size: medium;
    cursor: pointer;
    position: absolute;
}
.header a.signup{
    text-decoration: none;
    margin-left: 80%;
    background-color: #F99300;
    color: white;
    font-size: medium;

    position: absolute;
    cursor: pointer;   
}
main .logo{
    width: 10%;
    height: 10%;
    margin-left: 46%;
    
}
main .heading{
    color: #F99300;
    margin-left: 48%;
}
main .email-login h1{
    color: #F99300;
    font-size: 20px;
    margin-left: 12%;
}
main .email-login input{
    width: 30%;
    padding: 1%;
    margin-top: 2%;
    background: transparent;
    color: #F99300;
    font-size: medium;
    border:  1px solid white;
    cursor: text;
}
main .email-login input::placeholder{
    color: #F99300;
}
main .email-login input.pass{
 cursor: text;
}   
main .email-login button.login{
    width: 30%;
    padding: 1%;
    margin-top: 2%;
    background-color: #F99300;
    color: white;
    font-size: medium;
    border:  2px solid #F99300;
    cursor: pointer;
    border-radius: 32px;
}
main .email-login button.login:hover{
    background-color: transparent;
    color: #F99300;
    border: 1px solid #F99300;
}
main .email-login{
    margin-left: 20%;
    margin-top: -20%;

} 
main .login-other{
    margin-top: -10%;
}  
main .login-other button{
    width: 30%;
    padding: 1%;
    margin-top: 7px;
    background-color: white;
    color: black;
    font-size: medium;
    border:  2px solid white;
    cursor: pointer;
    margin-left: 60%;
    border-radius: 32px;
}
main .login-other button:hover{
    background-color: #F99300;
    color: white;
    border: 1px solid #F99300;
}
main .login-other button.google{
    margin-top: 12px;
}